* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    text-align: center;
}

.container {
    /* background-color: red; */
    display: flex;
    flex-wrap: wrap;
    padding: 1vw 3vw;
    text-align: center;
    margin: 0 auto;
    justify-content: center;
}



.card {
    margin: 3vw;
    background-color: rgb(213, 235, 255);
    border-radius: 23px;
    padding-bottom: 10px;
    object-fit: cover;
}

button {
    border-radius: 5px;
    background-color: rgb(164, 144, 255);
    padding: 7px;
    color: white;
    cursor: pointer;
}

button:hover {
    padding: 10px;
    background-color: rgb(113, 82, 251);
}


img {
    width: 300px;
    height: 200px;
    border-radius: 23px 23px 0px 0px;
    overflow: hidden;
}



h1 {
    background-color: rgb(182, 166, 252);
    display: block;
    height: 5vw;
    text-align: center;
    font-size: 5vw;
    color: rgb(68, 49, 155);
    overflow: hidden;
    padding-bottom: 15px;
}

footer {
    background-color: rgb(182, 166, 252);
    padding: 20px 20px;
}